<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzc.androidaidl">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.zzc.androidaidl.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.zzc.androidaidl.permission.ACCESS_BOOK_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IPCMessengerActivity" />
        <activity android:name=".IPCBinderActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 
        <!--运行在单独进程的服务-->
        <service
            android:name=".MessengerService"
            android:isolatedProcess="true"
            android:process=":remote" />

        <service
            android:name=".BookManagerService"
            android:process=":remote2" />

    </application>

</manifest>